*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

  

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: aqua;
}
.card{
  width: 350px;
  text-align: center;
  background-color: palegreen;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
   
}

.card ul{
  list-style: none;
}

.climate-data{
  display: flex;
  text-align: left;
}
.converter button{
  background-color: aqua;
  width: 200px;
  height: 30px;
  color: blue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px;
}
